package org.nico.quoted.config;

import org.apache.http.client.HttpClient;
import org.apache.http.impl.client.BasicCredentialsProvider;
import org.apache.http.impl.client.HttpClientBuilder;
import org.nico.quoted.http.HttpServiceImpl;

public class Config {

    // ############################## SERVER ##############################
    private static final String BASE_URL = "http://localhost:8080";
    private static final String API_URL = "/api";
    private static final String HEALTH_ENDPOINT = "/actuator/health";

    // ############################## AUTH ##############################

    // TODO: Replace with your own username and password
    private static final String BASIC_AUTH_USERNAME = "USERNAME";
    private static final String BASIC_AUTH_PASSWORD = "PASSWORD";

    // ############################## APIs ##############################

    public static final String SERVER_URL = BASE_URL + API_URL;

    public static final String HEALTH_URL = SERVER_URL + HEALTH_ENDPOINT;
    public static final String BOOKS_URL = SERVER_URL + "/books";
    public static final String ARTICLES_URL = SERVER_URL + "/articles";
    public static final String QUOTES_URL = SERVER_URL + "/quotes";

    public static final String SOURCE_URL = SERVER_URL + "/sources";

    // ############################## HTTP ##############################

    private static final HttpClient HTTP_CLIENT = HttpClientBuilder.create()
            .setDefaultCredentialsProvider(Config.getCredentialsProvider())
            .build();

    public static final HttpServiceImpl HTTP_SERVICE = new HttpServiceImpl(HTTP_CLIENT);

    public static BasicCredentialsProvider getCredentialsProvider() {
        BasicCredentialsProvider credentialsProvider = new BasicCredentialsProvider();
        credentialsProvider.setCredentials(
                org.apache.http.auth.AuthScope.ANY,
                new org.apache.http.auth.UsernamePasswordCredentials(BASIC_AUTH_USERNAME, BASIC_AUTH_PASSWORD));
        return credentialsProvider;
    }
}